<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/Intelij Projects/3-SeleniumHybridFramework">
        <classes>
            <class name="com.pkg.testcases.TC01_LoginApp">
                <methods>
                    <include name="loginAppTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>